{% extends 'layout.html' %}

{% block style%}
    .comment {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    }

    .comment-content {
    flex-grow: 1;
    }

    .comment-actions {
    flex-shrink: 0;
    margin-left: 10px;
    }

    .comment p {
        margin: 0;
        font-size: 16px;
    }

    .comment .meta {
        font-size: 12px;
        color: #777;
    }
     .custom-btn {
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    color: #ffffff;
    font-size: 0.9rem;
    text-decoration: none;
    transition: background-color 0.2s;
    }
    .custom-btn:hover {
    background-color: #6500db;
    }

    .edit-btn {
      background-color: #813124;

    }
    .edit-btn:hover {
      background-color: #6500db;
    }
    .delete-btn {
      background-color: #e74c3c;

    }
    .delete-btn:hover {
      background-color: #6500db;
    }
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f7f7f7;
    }

    .article {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 15px;
    }

    .author-info {
      font-style: italic;
      color: #888;
    }

    .article-content img {
      max-width: 100%;
      height: auto;
    }
      .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: none; /* Скрываем кнопку по умолчанию */
  }

  .scroll-to-top:hover {
    background-color: #6500db;
  }
{% endblock %}

{% block body %}
  <div class="article">
    <h2>{{ title }}</h2>
    <hr>
      <div class="article-content">
        {{ body | safe }}
      </div>
    <hr>
    <p class="author-info">Авторъ: <a href="{{ url_for('user.user', username=author) }}">{{ author }}</a></p>
    <p class="author-info">Дата создания:  {{ date_created }}</p>
    <div class="article-actions">
        <form method="post" action="{{ url_for('article.like_article', id=article.id) }}" style="display: inline-block;">
            {{ form.hidden_tag() }}
            <button type="submit" class="custom-btn edit-btn">
                Мне нравится (
                {{ article.likes }}
                {% if article.likes == 1 %}
                    отметка
                {% elif article.likes > 1 and article.likes < 5 %}
                    отметки
                {% else %}
                    отметок
                {% endif %}
                )
            </button>
        </form>

        {% if current_user.username == author %}
            <form action="{{ url_for('article.edit_article', id=article.id) }}" style="display: inline-block;">
                <button type="submit" class="custom-btn edit-btn">Редактировать</button>
            </form>

            <form action="{{ url_for('article.delete_article', id=article.id) }}" method="post" style="display: inline-block;">
                <button type="submit" class="custom-btn delete-btn" onclick="return confirm('Вы уверены, что хотите удалить эту статью?')">Удалить</button>
            </form>
        {% endif %}
    </div>
        <div class="comments">
            <div class="comments-section">
                <h3>Комментарии:</h3>
                    {% for comment in comments %}
                    <div class="comment">
                        <div class="comment-content">
                            <p>{{ comment.body }}</p>
                            <p class="meta">Автор: {{ comment.author.username }} | {{ comment.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                        </div>
                        <div class="comment-actions">
                            {% if current_user.username == comment.author.username or current_user.username == author or admins == True %}
                            <form action="{{ url_for('article.delete_comment', comment_id=comment.id) }}" method="post">
                                {{ form.hidden_tag() }}
                                <button type="submit" class="custom-btn delete-btn" onclick="return confirm('Вы уверены, что хотите удалить этот комментарий?')">Удалить</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}

                    {% if pagination.pages > 1 %}
                        <div class="pagination">
                            {% if pagination.has_prev %}
                                <a href="{{ url_for('article.display_article', id=article.id, page=pagination.prev_num) }}">« Предыдущая</a>
                            {% endif %}
                            {% for page_num in pagination.iter_pages() %}
                                {% if page_num %}
                                    {% if page_num == pagination.page %}
                                        <span class="current">{{ page_num }}</span>
                                    {% else %}
                                        <a href="{{ url_for('article.display_article', id=article.id, page=page_num) }}">{{ page_num }}</a>
                                    {% endif %}
                                {% else %}
                                    <span class="ellipsis">...</span>
                                {% endif %}
                            {% endfor %}
                            {% if pagination.has_next %}
                                <a href="{{ url_for('article.display_article', id=article.id, page=pagination.next_num) }}">Следующая »</a>
                            {% endif %}
                        </div>
                    {% endif %}
            </div>
                <form method="post" action="{{ url_for('article.add_comment', id=article.id) }}">
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="article_id" value="{{ article.id }}">  <!-- Добавьте это поле -->
                    <div class="form-group">
                        <label for="{{ form.body.id }}">Введите ваш комментарий:</label>
                        {{ form.body(class="form-control", rows=5) }}
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить комментарий</button>
                </form>
      </div>
  </div>
  <div id="scroll-to-top" class="scroll-to-top">&#9650;</div>

{% endblock %}

{% block scp %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const scrollToTopButton = document.getElementById('scroll-to-top');

    // Показать или скрыть кнопку при прокрутке
    window.addEventListener('scroll', () => {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        scrollToTopButton.style.display = 'block';
      } else {
        scrollToTopButton.style.display = 'none';
      }
    });

    // Плавно прокрутить вверх при клике на кнопку
    scrollToTopButton.addEventListener('click', () => {
      document.documentElement.style.scrollBehavior = 'smooth';
      document.documentElement.scrollTop = 0;
    });
  });
</script>
{% endblock %}



