{% extends 'layout.html' %}
{% block style%}
<style>
    /* Ваши стили здесь */
    .summary-button {
      background-color: #3498db;
      padding: 5px;
      border: 1px solid #ccc;
      cursor: pointer;
      width: 100px;
      border-radius: 10px;
      color: white;
      font-family: Arial, sans-serif;
      text-align: center;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .prev {
    background-color: #813124;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }
    .add-article-details,
    .user-articles-details {
      margin-top: 20px;
    }
    .article-card {
      border: 1px solid #e0e0e0;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s, box-shadow 0.2s;
      background-color: #ffffff;
      margin-bottom: 20px;
    }
    .article-card:hover {
      transform: translateY(-5px);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
    .article-card .card-body {
      padding: 20px;
    }
    .article-title {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
    .article-excerpt {
      font-size: 1rem;
      color: #555555;
      margin-bottom: 15px;
    }
    .custom-btn {
      background-color: #3498db;
      border: none;
      border-radius: 5px;
      padding: 8px 15px;
      color: #ffffff;
      font-size: 0.9rem;
      text-decoration: none;
      transition: background-color 0.2s;
      margin-right: 5px;
    }
    .custom-btn:hover {
      background-color: #6500db;
    }

    .edit-btn {
      background-color: #813124;

    }
    .edit-btn:hover {
      background-color: #6500db;
    }
    .delete-btn {
      background-color: #e74c3c;

    }
    .delete-btn:hover {
      background-color: #6500db;
    }
  </style>
{% endblock %}

{% block body %}
    <h1 class="prev">ПАНЕЛЬ УПРАВЛЕНИЯ</h1>
  <section>
    <h3>Добавление статьи</h3>
    <details class="add-article-details">
      <summary class="summary-button">Развернуть</summary>
      <form method="POST" action="{{ url_for('dashboard') }}" id="article-form">
        <div class="form-group">
        <label for="title">Заголовок статьи:</label>
        <input type="text" id="title" class="form-control" name="title" required>
      </div>
      <div class="form-group">
        <label for="editor">Тело статьи:</label>
        <textarea id="editor" class="form-control" name="{{ form.body.name }}" style="display: none">{{ form.body.data }}</textarea>
        <script>
          ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
              console.error(error);
            });
        </script>
      </div>
      <button type="submit" class="btn btn-primary">Add Article</button>
      </form>
    </details>
  </section>

  <section>
    <h3>Ваши статьи [ {{ total_articles }} ]</h3>
    <details class="user-articles-details">
      <summary class="summary-button">Развернуть</summary>
        <div class="row">
                  {% for article in user_articles.items %}
          <div class="col-md-4 mb-4">
            <div class="card article-card">
              <div class="card-body">
                <h5 class="card-title article-title">{{ article.title }}</h5>

                <form action="{{ url_for('display_article', id=article.id) }}" style="display: inline-block;">
                  <button type="submit" class="custom-btn">Читать далее</button>
                </form>

                <form action="{{ url_for('edit_article', id=article.id) }}" style="display: inline-block;">
                  <button type="submit" class="custom-btn edit-btn">Редактировать</button>
                </form>


                <form action="{{ url_for('delete_article', id=article.id) }}" method="post" style="display: inline-block;">
                  <button type="submit" class="custom-btn delete-btn" onclick="return confirm('Вы уверены, что хотите удалить эту статью?')">Удалить</button>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}

        </div>
        <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% for page_num in user_articles.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=3) %}
            {% if page_num %}
              <li class="page-item{% if user_articles.page == page_num %} active{% endif %}">
                <a class="page-link" href="{{ url_for('dashboard', page=page_num) }}">{{ page_num }}</a>
              </li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}
          {% endfor %}
        </ul>
        </nav>
    </details>
  </section>

  <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
  <script>
    ClassicEditor
      .create( document.querySelector( '#editor' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        window.editor = editor;
      } )
      .catch( err => {
        console.error( err.stack );
      } );
  </script>
  <script>
    const addArticleDetails = document.querySelector('.add-article-details');
    const addArticleSummary = addArticleDetails.querySelector('.summary-button');

    addArticleDetails.addEventListener('toggle', () => {
      if (addArticleDetails.open) {
        addArticleSummary.textContent = 'Свернуть';
      } else {
        addArticleSummary.textContent = 'Развернуть';
      }
    });

    const userArticlesDetails = document.querySelector('.user-articles-details');
    const userArticlesSummary = userArticlesDetails.querySelector('.summary-button');

    userArticlesDetails.addEventListener('toggle', () => {
      if (userArticlesDetails.open) {
        userArticlesSummary.textContent = 'Свернуть';
      } else {
        userArticlesSummary.textContent = 'Развернуть';
      }
    });
  </script>
{% endblock %}
