{% extends 'layout.html' %}

{% block title %}Панель управления профилем{% endblock %}

{% block style %}
    .profile-heading {
      background-color: #3498db;
      padding: 25px;
      border-radius: 20px 20px 20px 20px;
      color: white;
      text-align: center;
      margin: 20px;
    }

    .profile-section {
      padding: 20px;
      border: 1px solid #e0e0e0;
      border-radius: 20px 20px 20px 20px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      margin-bottom: 20px;
    }

    .profile-section-nav {
      padding: 20px;
      border: 1px solid #e0e0e0;
      border-radius: 20px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      margin-bottom: 20px;
      display: flex;
      justify-content: center; /* Центрирование по горизонтали */
      align-items: center; /* Центрирование по вертикали */
    }

    .profile-section h3 {
      font-size: 1.5rem;
      margin-bottom: 20px;
      text-align: center;
      color: #3498db;
      text-transform: uppercase;
    }

    .profile-form-group {
      margin-bottom: 20px;
    }

    .profile-label {
      font-weight: bold;
    }

    .profile-input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .profile-submit-button {
      background-color: #3498db;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      color: #ffffff;
      font-size: 1rem;
      text-decoration: none;
      transition: background-color 0.2s;
    }

    .profile-nav {
      background-color: #3498db;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      color: #ffffff;
      font-size: 1rem;
      text-decoration: none;
      margin-left: 5px; /* Добавлено расстояние слева */
    }

    .profile-submit-button:hover {
      background-color: #6500db;
    }

    .article-card {
      border: 1px solid #e0e0e0;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      margin-bottom: 20px;
      width: 100%; /* Добавьте ширину 100% */
    }

    .article-card .card-body {
      padding: 20px;
    }

    .article-title {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    .article-status {
      font-size: 1rem;
      color: #555555;
      margin-bottom: 15px;
    }

    .article-excerpt {
      font-size: 1rem;
      color: #555555;
      margin-bottom: 15px;
    }

    .rejection-comment {
      background-color: red;
      color: yellow;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
    }

    .row {
      display: flex; /* Используйте flex для распределения элементов */
      flex-wrap: wrap; /* Разрешить перенос элементов на новую строку */
      margin-right: -15px;
      margin-left: -15px;
    }

    .profile-input-info {
        width: 100%; /* Ширина поля занимает 100% доступной ширины */
        height: 200px; /* Высота поля ввода в пикселях (можете настроить по своему усмотрению) */
        resize: vertical; /* Разрешить изменение высоты (но не ширины) поля ввода пользователем */
    }

    .character-limit-exceeded {
        color: red;
    }
{% endblock %}

{% block body %}
<div class="profile-heading">
  <h1>ПАНЕЛЬ УПРАВЛЕНИЯ ПРОФИЛЕМ</h1>
</div>

<section class="profile-section-nav">

    <a href="/update_user_info" class="profile-nav">
        Редактировать профиль
    </a>

    <a href="/update_pass" class="profile-nav">
        Редактировать пароль
    </a>

    <a href="{{ url_for('user.user', username=current_user.username) }}" class="profile-nav">
        Информация о профиле
    </a>
</section>

<section class="profile-section">
  <h3>Добавление статьи</h3>
  <form method="POST" action="{{ url_for('user.dashboard') }}" id="article-form">
    {{ form.hidden_tag() }}
    <div class="profile-form-group">
      <label for="title" class="profile-label">Заголовок статьи:</label>
      <input type="text" id="title" class="profile-input" name="title" required>
    </div>
    <div class="profile-form-group">
      <label for="editor" class="profile-label">Тело статьи:</label>
      <textarea id="editor" class="profile-input" name="{{ form.body.name }}" style="display: none">{{ form.body.data }}</textarea>
      <p style="text-align: center;"><span style="color: #ff0000;"><strong>В настоящее время добавить изображение возможно только со сторонних ресурсов.</strong></span></p>
    </div>
    <button type="submit" class="profile-submit-button">Добавить</button>
  </form>
</section>

<section class="profile-section">
  <h3>Ваши статьи [ {{ total_articles }} ]</h3>
  <div class="row">
    {% if total_articles > 0 %}
    {% for article in user_articles.items %}
    <div class="col-md-4 mb-4">
      <div class="article-card">
        <div class="card-body">
            <h4 class="card-title article-title">{{ article.title }}</h4>
            <h5 class="article-status">Статус: {{ article.status }}</h5>
            {% if article.status == 'отклонена' %}
              <p class="rejection-comment"><strong>Ваша статья не прошла модерацию!</strong></p>
              <form action="{{ url_for('article.delete_article', id=article.id) }}" method="post" style="display: inline-block;">
                <button type="submit" class="profile-submit-button" onclick="return confirm('Данная статья будет удалена!')">Удалить</button>
              </form>
            {% else %}
            <p class="article-excerpt">{{ article.excerpt }}</p>
            <form action="{{ url_for('article.display_article', id=article.id) }}" style="display: inline-block;">
              <button type="submit" class="profile-submit-button">Открыть</button>
            </form>
            <form action="{{ url_for('article.edit_article', id=article.id) }}" style="display: inline-block;">
              <button type="submit" class="profile-submit-button">Редактировать</button>
            </form>
            <form action="{{ url_for('article.delete_article', id=article.id) }}" method="post" style="display: inline-block;">
              <button type="submit" class="profile-submit-button" onclick="return confirm('Вы уверены, что хотите удалить эту статью?')">Удалить</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="no-articles-message">
      <h1>Нет статей. &#128546;</h1>
    </div>
    {% endif %}
  </div>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% for page_num in user_articles.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=3) %}
      {% if page_num %}
      <li class="page-item{% if user_articles.page == page_num %} active{% endif %}">
        <a class="page-link" href="{{ url_for('user.dashboard', page=page_num) }}">{{ page_num }}</a>
      </li>
      {% else %}
      <li class="page-item disabled"><span class="page-link">...</span></li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
</section>
{% endblock %}
{% block scp %}
<script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>

<script>
ClassicEditor
  .create(document.querySelector('#editor'))
  .catch(error => {
    console.error(error);
  });
</script>

<script>
  const textareaElement = document.getElementById("user_information");
  const characterCountElement = document.getElementById("character-count");

  function initializeCharacterCount() {
    const currentText = textareaElement.value;
    const currentLength = currentText.length;
    characterCountElement.textContent = currentLength;

    if (currentLength > 300) {
      characterCountElement.classList.add("character-limit-exceeded");
    } else {
      characterCountElement.classList.remove("character-limit-exceeded");
    }
  }

  window.addEventListener("load", initializeCharacterCount);

  textareaElement.addEventListener("input", function() {
    const currentText = textareaElement.value;
    const currentLength = currentText.length;
    characterCountElement.textContent = currentLength;

    if (currentLength > 300) {
      characterCountElement.classList.add("character-limit-exceeded");
    } else {
      characterCountElement.classList.remove("character-limit-exceeded");
    }
  });
</script>

{% endblock %}
