<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block tytle %}{% endblock%}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      {% block style%}{% endblock%}
      body {
          background-image: url("/static/image/bg-01.png");
          background-position: center;
      }
      .navbar {
          background-color: #b6c7d3; /* Используйте цвет, который вам нужен */
      }
    </style>

</head>
<body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
    {% include 'includes/_messages.html' %}
        {% block body%}{% endblock%}
    </div>
    {% block scp %}{% endblock%}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
