<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super-Mega </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      {% block style%}{% endblock%}
      body {
      background: url("static/image/bg-0.png");
      background-position: center;
      }
    </style>

</head>
<body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
    {% include 'includes/_messages.html' %}
        {% block body%}{% endblock%}
    </div>
    {% block scp %}{% endblock%}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>